<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/">Home</a>
        <li class="nav-link"><a href="/blems/riemann/">Riemann Hypothesis</a>
        <li class="nav-link"><a href="http://github.com/rfurman/pnphard/">Contribute</a>
        <li class="nav-link"><a href="https://discord.gg/5aZ3VAB">Chat</a>
        <li class="nav-link"><a href="mailto:rfurman@alumni.stanford.edu">Email</a>
      </ul>
    </nav>
  </div>
</header>
